<!DOCTYPE html>
<html ng-app ="myApp">
<meta charset="UTF-8">
<title>Angular Demo</title>
<script src="lib/angular.js"></script>
<script src="JSPS/mouseupdown.js"></script>
</head>

<body>
  
  <div ng-controller="MainController as main">
  
  <img alt="oops! wait for some time please and think for best things you got to do for yourself" src="images/gini.jpg" 
  
  ng-mouseup ="main.upclick($event)"
  ng-mousedown="main.downclick($event)"
  
  width="500" height="480"
  >
  
 <p>Up Click Count   : <input type="text" ng-model="main.upclickcount">
 Down Click Count : <input type="text" ng-model="main.downclickcount"></p>
    
  </div>

</body>

</html>

<!-- <p><button ng-click='main.click(1)'>PressMe</button>
  <button ng-dblclick='main.doubleclick()'>DoublePress</button>
  <button ng-click='main.click(1)' ng-dblclick='main.doubleclick()'>Press or DoublePress</button></p>
   -->