<!DOCTYPE html>
<html ng-app ="myApp">
<meta charset="UTF-8">
<title>Angular Demo</title>
<script src="lib/angular.js"></script>
<script src="lib/angular-mocks.js"></script>
<script src="JSPS/testService.js"></script>

</head>

<body>
  	
  <div ng-controller="MainController as main">
    
    <p>Get Data:
     <button ng-click="main.getData()">GET</button>
    </p> <p>{{main.data}}</p>
  </div>
  
</body>

</html>
<!-- 
  lib/angular-mocks.js
	lib/angular.js<p>
	lib/angular.js   <ul>
	     <li ng-repeat="user in main.users">{{user.name}}{{user.id}}</li>
	   </ul>
	</p>   
 -->
