<!DOCTYPE html>
<html ng-app ="myApp">
<head>
<meta charset="UTF-8">
<title>Angular Demo</title>
<script src="lib/angular.js"></script>
<script src="lib/angular-sanitize.js"></script>
<script src="JSPS/serviceToPost.js"></script>
<link rel="stylesheet"  href="css/panValid.css"></link>
  
</head>

<body>
  	
  <div ng-controller="MainController as main">
          <p><input type="text" ng-model="main.name"></p>
          <button ng-click="main.model.addUser({name:main.name})">ADDUSER</button>
           <ul>
            <li ng-repeat="users in main.model.user">{{users.name}}:{{users.id}}</li>
           </ul>
  </div>

</body>

</html>
<!-- This is example for to using service and factory into multiple controllers alonf yhe a\pplication
<p>{{main.fieldLabel}} </p>
      -->